WpfPpijProgrami/PPIJServicesLibrary/Service References/PPIJBoard/PPIJBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nihao.fer.hr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nihao.fer.hr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nihao.fer.hr/">
      <s:element name="GetAccessToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessagesResult" type="tns:ArrayOfPPIJboardMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPPIJboardMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PPIJboardMessage" type="tns:PPIJboardMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PPIJboardMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReplyTo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Posted" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLastMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastMessagesResult" type="tns:ArrayOfPPIJboardMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostReply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="replyTo" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostReplyResponse">
        <s:complexType />
      </s:element>
      <s:element name="PostMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessToken" />
  </wsdl:message>
  <wsdl:message name="GetAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="GetMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastMessages" />
  </wsdl:message>
  <wsdl:message name="GetLastMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="PostReplySoapIn">
    <wsdl:part name="parameters" element="tns:PostReply" />
  </wsdl:message>
  <wsdl:message name="PostReplySoapOut">
    <wsdl:part name="parameters" element="tns:PostReplyResponse" />
  </wsdl:message>
  <wsdl:message name="PostMessageSoapIn">
    <wsdl:part name="parameters" element="tns:PostMessage" />
  </wsdl:message>
  <wsdl:message name="PostMessageSoapOut">
    <wsdl:part name="parameters" element="tns:PostMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="PPIJboardServiceSoap">
    <wsdl:operation name="GetAccessToken">
      <wsdl:input message="tns:GetAccessTokenSoapIn" />
      <wsdl:output message="tns:GetAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input message="tns:GetMessagesSoapIn" />
      <wsdl:output message="tns:GetMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMessages">
      <wsdl:input message="tns:GetLastMessagesSoapIn" />
      <wsdl:output message="tns:GetLastMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostReply">
      <wsdl:input message="tns:PostReplySoapIn" />
      <wsdl:output message="tns:PostReplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <wsdl:input message="tns:PostMessageSoapIn" />
      <wsdl:output message="tns:PostMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PPIJboardServiceSoap" type="tns:PPIJboardServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccessToken">
      <soap:operation soapAction="http://nihao.fer.hr/GetAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://nihao.fer.hr/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMessages">
      <soap:operation soapAction="http://nihao.fer.hr/GetLastMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostReply">
      <soap:operation soapAction="http://nihao.fer.hr/PostReply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <soap:operation soapAction="http://nihao.fer.hr/PostMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PPIJboardServiceSoap12" type="tns:PPIJboardServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccessToken">
      <soap12:operation soapAction="http://nihao.fer.hr/GetAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://nihao.fer.hr/GetMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMessages">
      <soap12:operation soapAction="http://nihao.fer.hr/GetLastMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostReply">
      <soap12:operation soapAction="http://nihao.fer.hr/PostReply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <soap12:operation soapAction="http://nihao.fer.hr/PostMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PPIJboardService">
    <wsdl:port name="PPIJboardServiceSoap" binding="tns:PPIJboardServiceSoap">
      <soap:address location="http://nihao.fer.hr/PPIJBoard/PPIJBoardService.asmx" />
    </wsdl:port>
    <wsdl:port name="PPIJboardServiceSoap12" binding="tns:PPIJboardServiceSoap12">
      <soap12:address location="http://nihao.fer.hr/PPIJBoard/PPIJBoardService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>